html{
    width: 100vw;
}



body{
    width: 100vw;
    height: 100vh;
    margin: 0%;
}



.gameBoard{

    width: 100vw;
    height: 100vh ;
  
    background-color: aqua;
    display: inline-block;
    
}



.player-1{

    width: 15vw;
    height: 100vh;
    background-color: rgb(236, 42, 42);
    float: left;

}


.player-2{

    width: 15vw;
    height: 100vh;
    background-color: rgb(236, 42, 42);
    float: right;

}

.combatfield{

    width: 70vw;
    height: 60vh;
   
    float: left;


  
}






.nextRound{
    width: 100px;
    height: 100px;
    background-color: rgb(106, 52, 52);
}

.gameCard{
    width: 80%;
    height: 250px;
  
    background-color: white;

    margin: auto;

    margin-bottom: 20px;
    text-align: center;

}

.gameCard img{

    width: 100%;

    height: 100%;
}

.gameCard h3 {

    position: absolute;
}


.gameCard h1 {

    color: rgb(247, 245, 120);
    position: absolute;
}





.battlefield{
    width: 70vw;
    height: 100vh;
    background-color: rgb(129, 255, 127);
    float: left;

    background-image: url(./images/stagebackground2.png);
    background-repeat: none;
    background-position: center;
    background-size: cover;
  
}


.field-box{

    width: 17vw;
    height: 19.6%;
    
    margin: .15vw;
    background-color: aliceblue;
   
    
    float: left;


    display: flex;
    justify-content: center;
    align-items: center;


   
}




