html{
    width: 100vw;
  
  
}



body{
    width: 100vw;
    height: 100vh;
    margin: 0%;
}



.gameBoard{

    width: 100vw;
    height: 100vh ;
  
    background-color: aqua;
    display: inline-block;
    
}



.combatant-1{

    width: 15vw;
    height: 100vh;
    background-color: rgb(236, 42, 42);
    float: left;

}



.combatant-2{

    width: 15vw;
    height: 100vh;
    background-color: rgb(236, 42, 42);
    float: right;

}


.nextRound{
    width: 100px;
    height: 100px;
    background-color: white;
}

.gameCard{
    width: 80%;
    height: 250px;
  
    background-color: white;

    margin: auto;

}


.battlefield{
    width: 70vw;
    height: 100vh;
    background-color: rgb(129, 255, 127);
    float: left;
  
}

.field-box{

    width: 17vw;
    height: 19.6%;
    
    margin: .15vw;
    background-color: aliceblue;
   
    
    float: left;


    display: flex;
    justify-content: center;
    align-items: center;


   
}




